  * {
    box-sizing: border-box;
  }

}
  html {
    line-height: 1.4;
    font-size: 16px;
  }

  body {
    font-family: 'Lato', Roboto, sans-serif;
    color: #4a4a4a;
    line-height: 1.4;
  }

  /* Navigation Section  */

  .navi {
    background: #ffffff;
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;

  }

  .navi .logo a {
    display: flex;
    align-items: center;
    color: #9b9b9b;
    text-decoration: none;
  }

  .navi .logo span {
    color: #4a4a4a;
    font-weight: bold;
  }

  .navi ul {
    width: 100%;
    text-align: right;
  }

  .navi ul li {
    padding-left: 1rem;
    display: inline;
  }

  .navi ul li a {
    text-decoration: none;
    color: #4a4a4a;
  }

  .navi.mob ul li {
    padding: 0 1rem;
  }

  .navi ul li a:hover {
    color: #5DB8D1;
  }

  .navi.mob {
    display: none;
  }

  /* Banner Section  */

  .banner {
    background: #D8D8D8;
    display: flex;
    align-items: center;
    padding: 2rem 1.5rem;
  }

  .banner .content {
    margin: 0 2rem;
  }

  .banner img {
    width: 100%;
    overflow: hidden;
  }

  .banner .content h1 {
    line-height: 1.2;
    font-size: 2rem;
    font-weight: 900;
    padding-bottom: 1rem;
  }

  .banner .content p {
    line-height: 1.2;
    font-size: 1.3rem;
    padding-bottom: 1rem;
  }

  .column-a {
    width: 60%;
  }

  .column-b {
    width: 40%;
  }

  button {
    background-color: #4A4A4A;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    border-radius: 3px;
    font-weight: 300;
    width: 100%;
    outline: none;
  }

  button:hover {
    background-color: #5DB8D1;
    color: #ffffff;
    font-weight: 300;
    cursor: pointer;
    transition: all 300ms linear;
  }

 /* Information Section  */

  .main-info {
    background: #f3f5f5;
    display: flex;
    align-items: top;
    padding: 2rem 1.5rem;
  }

  .main-info .column-a img {
    width: 100%;
  }

  .main-info .column-a h2 {
    line-height: 1.2;
    padding: 1.5rem 0 1rem 0;
    font-weight: bold;
    font-size: 2rem;
  }

  .main-info .column-a p{
    line-height: 1.2;
    color: #767676;
    padding-bottom: 1rem;
  }

  .main-info .column-a span {
    color: #767676;
    font-size: 0.8rem;
  }

  .main-info .column-b .object {
    display: flex;
    align-items: center;
    border-left: 1px solid #d8d8d8;
    padding: 1rem;
    margin: 0 0 0 1rem;
    border-top: 1px solid #d8d8d8;
  }

  .main-info .column-b .object:last-child {
    background: #D8D8D8;
  }

  .main-info .column-b .object img {
    width: 35%;
    height: auto;
  }

  .main-info .column-b .object img.mobi {
    display: none;
  }

  .main-info .column-b .object .content {
    margin-left: 1rem;
  }

  .main-info .column-b .object .content h3 {
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
  }

  .main-info .column-b .object .content p {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    line-height: 1.2;
    color: #767676;
  }

  .main-info .column-b .object .content a {
    font-size: 0.9rem;
    color: #5194e3;
    text-decoration: none;
  }

  .main-info .column-b .object .content a:hover {
    color: #5DB8D1;
  }

  /* Courses Section  */

  .courses {
    background: #e5e5e5;
    padding: 2rem 4rem;
  }

  .courses h2 {
    font-size: 2rem;
    font-weight: bold;
    padding: 0 0 2rem 0;
    text-align: center;
    line-height: 1.2;
  }

  .courses div.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .courses article.course {
    width: 30%;
    background: white;
    margin-bottom: 2rem;
  }

  .courses article.course img {
    width: 100%;
  }

  .courses article.course .content {
    padding: 1rem;
  }

  .courses article.course .content h3 {
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 1rem;
    color: #4A4A4A;

  }

  .courses .content h4 {
    font-size: 0.8rem;
    color: #767676;
    padding-bottom: 0.5rem;
  }

  .courses .content p {
    font-size: 0.8rem;
    color: #767676;
    line-height: 1.6;
  }

  .pop:hover {
  animation: pop 0.5s linear 1;
  }
  @keyframes pop {
  50%  {transform: scale(1.2);}
  }
